* {
    font-family: "Poppins", sans-serif;
  }
  
  a:hover {
    color: inherit;
  }
  
  nav {
    padding: 1.75rem;
    background-color: white;
  }
  
  .mulearn-logo {
    width: 6rem;
  }
  
  .nav-barbtn button {
    border: 2.5px solid #5865f2;
    padding: 0.65rem 0.96rem;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: #5865f2;
    color: white;
    margin-top: 2vh;
  }
  
  .dropdown {
    font-size: 1rem;
  }
  
  .dropdown-item {
    font-size: 0.9rem;
  }
  
  footer {
    margin-top: 10vh;
    padding: 4rem 2rem;
    background-color: #404040;
  }
  
  .footer-logo {
    width: 5rem;
  }
  
  footer a {
    text-decoration: none;
    color: #ffff;
  }
  
  .social-links a:hover,
  .footer-links a:hover {
    color: #fd7915;
  }
  
  .footer-links {
    margin: 2rem 0;
    line-height: 2rem;
    font-size: 0.9rem;
  }
  
  .footer-links a {
    margin-right: 0.75rem;
  }
  
  .iconify {
    font-size: 2rem;
    margin-right: 0.75rem;
  }
  
  .iconify:hover {
    color: #f6832a;
    background-color: #404040;
  }
  
  footer hr {
    color: white;
    margin: 2rem 0rem;
  }
  .address {
    color: white;
    width: 20rem;
    font-weight: 200;
    font-size: 0.8rem;
  }
  
  .mailus {
    display: block;
    padding-top: 1rem;
    color: rgb(176, 176, 245);
  }
  
  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #5e72e4;
  }
  
  .fheadingtext {
    font-size: 1.1rem;
    color: white;
    margin-top: 4vh;
  }
  
  .fparagraph {
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
  }
  
  .newsletterinvite {
    display: flex;
    flex-direction: row;
  }
  
  .invite-container {
    position: relative;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-top: 2vh;
    border-radius: 5px;
  }
  
  .invite-container input {
    font-size: 0.8rem;
    border: none;
    padding: 0.5rem;
    width: 12.5rem;
  }
  
  .invite-container button {
    border: none;
    font-size: 0.8rem;
    color: white;
    background-color: #f6832a;
    padding: 0.5rem 1.75rem;
    border-radius: 3px;
  }
  
  .invite-container button:hover {
    background-color: #fd7915;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  
  .nav-barbtn {
    padding-bottom: 2vh;
  }
  
  .newsletter {
    width: 20rem;
  }
  
  .newslettertext {
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  @media only screen and (min-width: 1000px) {
    .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    footer {
      padding: 1rem 6rem;
      padding-bottom: 3rem;
    }
  
    .container-fluid {
      padding: 0.55rem 4.3rem;
    }
  
    .navbar-styles {
      display: flex;
      justify-content: space-between;
    }
  
    .nav-barbtn button {
      margin-top: 0;
    }
  
    .iconify {
      font-size: 2.5rem;
    }
  
    .footer-logo {
      width: 6rem;
      margin-top: 2vh;
    }
  
    .nav-barbtn {
      padding-bottom: 0vh;
    }
  }
  
  /* Main Body Content CSS */
  
 
  
  /* Section Section of Main Content */
  
  .secondsection {
    padding: 2rem;
    text-align: left;
    margin: 5rem 0 10rem 0;
    min-height: 35vh;
    margin-bottom: 8vh;
    background-color: aliceblue;
  }
  
  .join,
  .assignments,
  .improve {
    margin: 8vh 0vw;
  }
  
  .sslogo {
    width: 4.25rem;
  }
  
  .ssheading {
    font-size: 1.2rem;
    font-weight: 00;
    color: #404040;
    margin-top: 3vh;
  }
  
  .ssparagraph {
    color: #727272;
  }
  
  .ssbtn {
    border: none;
    background-color: aliceblue;
    color: #00cded;
  }
  
  @media only screen and (min-width: 1000px) {
    .secondsection {
      text-align: center;
      padding: 0rem;
      margin-top: 12vh;
      margin-bottom: 10vh;
    }
    .secondsection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  
    .join,
    .assignments,
    .improve {
      margin: 8vh 0vw;
      max-width: 25%;
      font-size: 1rem;
    }
  }
  
  /* Third Section of Main Content */
  
  .thirdsection {
    margin: 1rem;
  }
  
  .tsheading {
    font-size: 1.75rem;
    text-align: center;
    font-family: "Outfit", sans-serif;
  }
  .card {
    flex: 0 0 auto;
    position: relative;
    height: 18rem;
    margin: 0 18px;
  }
  
  .card-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  
  .gallary-cards {
    display: flex;
    overflow-x: auto;
    -webkit-scrollbar: none;
    margin-top: 5vh;
  }
  
  @media only screen and (min-width: 1000px) {
    .tsheading {
      font-size: 1.95rem;
      text-align: center;
      font-family: "Outfit", sans-serif;
    }
  
    .thirdsection {
      margin: 10vh 5rem;
    }
  }
  
  .gallary-cards::-webkit-scrollbar {
    width: 2em;
    height: 1.5em;
  }
  
  .gallary-cards::-webkit-scrollbar-track {
    background-color: #f4f5f7;
    border-radius: 100vw;
    margin-block: 1em;
  }
  
  .gallary-cards::-webkit-scrollbar-thumb {
    background-color: #404040;
    border: 0.45em solid #f4f5f7;
    border-radius: 100vw;
  }
  
  /* LeaderBoard Styles */
  
  .leaderboardsection {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .clgframe,
  .studentframe {
    width: 80vw;
    height: 60vh;
    margin: 2.5vh 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #dddff7;
  }
  
  @media only screen and (min-width: 1000px) {
    .leaderboardsection {
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    .clgframe,
    .studentframe {
      width: 40vw;
      height: 50vh;
    }
  }
  